@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabinet";
  src: url("../public/fonts/CabinetGrotesk-Variable.ttf");
}
@font-face {
  font-family: "Cabinet-Bold";
  src: url("../public/fonts/CabinetGrotesk-Bold.otf");
}
